<div class="row">
  <div class="col-sm-2" *ngFor="let item of productItems">
    <div class="card" style="width: 18rem;">
      <img src="{{ item.product.imageURL }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ item.product.productname }}</h5>
        <h6 class="text-secondary">{{ item.product.code }}</h6>
        <h6 class="text-secondary">
          {{ item.product.price | currency: "USD":true:"1.2-2" }}
        </h6>
        <hr />
        <select [(ngModel)]="item.qty" class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option> </select
        ><br />
        <a class="btn btn-primary btn-lg btn-block" (click)="addToCart(item)"
          >Add</a
        >
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <a class="btn btn-danger" (click)="checkoutToCart()">Checkout To Cart</a>
  </div>
</div>
